{
    "s3": {
        "vault": {
            "endpoint": "",
            "region": "",
            "accessKeyId": "",
            "secretAccessKey": "",
            "bucket": ""
        },
        "asset": {
            "endpoint": "",
            "region": "",
            "accessKeyId": "",
            "secretAccessKey": "",
            "bucket": ""
        }
    },
    "vaultPost": "",
    "vaultAsset": "",
    "assetUrl": "",
    "hugoPostPath": "",
    "hugoCmd":""
}