{
    "s3": {
        "vault": {
            "endpoint": "",
            "region": "",
            "accessKeyId": "",
            "secretAccessKey": "",
            "bucket": ""
        },
        "asset": {
            "endpoint": "",
            "region": "",
            "accessKeyId": "",
            "secretAccessKey": "",
            "bucket": ""
        }
    },
    "vaultPost": "",
    "vaultAsset": "",
    "assetCacheControl": "",
    "assetUrl": "",
    "hugo": {
        "sitePath": "",
        "postPath": "",
        "cmd": [""]
    }
}